.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.content {
	min-width: 348px;
	background-color: white;
	border-radius: var(--smooth-corners);
}

.wrapper {
	padding: 16px;
}

.input {
	width: 100%;
}

.dialog_header {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 16px 16px;
	border-bottom: 1px solid var(--border_color);
}
